.btn {
  border-radius: 4px;
  padding: 10px 0px 10px 22px;
  font-family: $font-manrope;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  &.btn-brand-1 {
    padding: 15px 24px;
    @include theme() {
      color: theme-get("color-brand-2") !important;
    }
    background: $color-brand-1;
    border-radius: 4px;
    font-size: $font-sm;
    line-height: 18px;
    font-weight: 700;
    svg {
      color: $color-brand-2;
    }
    &:hover {
      background-color: $color-brand-1-hover;
      color: $color-brand-2;
    }
    &:hover * {
      color: $color-brand-1;
    }
  }
  &.btn-border-brand-1 {
    border: 1px solid $color-brand-1;
    @include theme() {
      color: theme-get("color-brand-1");
    }
    // color: $color-brand-1;
    border-radius: 4px;
    padding: 8px 10px 8px 11px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 12px;

    &:hover {
      background-color: $color-brand-1;
      @include theme() {
        color: theme-get("color-inner-btn");
      }
      // color: $color-gray-80;
    }
  }

  &.btn-submit-newsletter {
    padding: 15px 16px 16px 16px;
    background-color: $color-brand-1;
    border-radius: 8px;
    svg {
      color: $color-white;
    }
    &:hover {
      background-color: $color-brand-1-hover;
    }
  }

  &.btn-brand-lg {
    padding: 20px 24px;
    color: $color-brand-2;
    background: $color-brand-1;
    border-radius: 8px;
    font-size: $font-sm;
    line-height: 18px;
    font-weight: 700;
    &:hover {
      background-color: $color-brand-1-hover;
    }
  }
  &.btn-full {
    width: 100%;
  }
}

.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

/* CSS for switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hiding the default checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  border: none !important;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none !important;
}
/* Before sliding */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transform: rotate(90deg);
  background-image: url("../imgs/icons/icons8-crescent-moon-50-filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none !important;
  // background-position: 80% 20%;
  // background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: #000000;
}
// input:focus + .slider {
//   // box-shadow: 0 0 1px #564311;
// }
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url("../imgs/icons/icons8-crescent-moon-50-white-filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

/* Rounded sliders */
.slider.round {
  // border-radius: 34px;
  border: none !important;
}

.slider.round:before {
  // border-radius: 50%;
  border: none !important;
}

// .icon {
//   width: 20px;
//   height: 20px;
//   svg {
//     width: 20px !important;
//     height: 20px !important;
//     &:hover {
//       fill: red !important;
//       // filter: saturate(300%);
//       -webkit-transition: 0.3s;
//       transition: 0.3s;
//     }
//     &:hover * {
//       fill: red;
//       filter: saturate(300%);
//       background-color: #000000;
//     }
//   }

//   svg:hover {
//     fill: red;
//   }
// }

svg.dislike {
  width: 20px !important;
  height: 20px !important;
  fill: gray !important;
  &:hover {
    fill: red !important;
    // filter: saturate(300%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  &:hover * {
    fill: red;
    filter: saturate(300%);
    background-color: #000000;
  }
}

svg.like {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  fill: $color-brand-1 !important;
  &:hover {
    fill: blue !important;
    // filter: saturate(300%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  &:hover * {
    fill: blue;
  }
}

// svg.profile path {
//   fill: green !important;
//   // &:hover {
//   //   fill: blue !important;
//   //   // filter: saturate(300%);
//   //   -webkit-transition: 10s;
//   //   transition: 10s;
//   // }
//   // &:hover * {
//   //   fill: blue;
//   // }
// }

svg.dark-icon path {
  fill: white !important;
  stroke: white !important;
}
svg.dark-icon {
  fill: white !important;
}

// path.dark-icon {
//   width: 35px;
//   height: 35px;
// }

svg.graph {
  width: 35px;
  height: 35px;
  &:hover {
    fill: blue !important;
    // filter: saturate(300%);
    -webkit-transition: 10s;
    transition: 10s;
  }
  &:hover * {
    fill: blue;
  }
}

.plus {
  --b: 1px; /* the thickness */
  width: 20px; /* the size */
  aspect-ratio: 1;
  height: 20px;
  // border: 10px solid #000; /* the outer space */
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      rgb(255, 255, 255) 90deg,
      rgb(0, 0, 0) 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s;
  margin-right: 20px;
}

.dark-plus {
  --b: 1px; /* the thickness */
  width: 30px; /* the size */
  height: 30px;
  // aspect-ratio: 1.2;
  // border: 1px solid rgb(255, 255, 255); /* the outer space */
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      rgb(0, 0, 0) 90deg,
      rgb(255, 253, 253) 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s;
  margin-right: 20px;
}

.dark-plus.active {
  transform: rotate(45deg);
  transition: 0.5s;
}

// .dark-plus:active {
//   transform: rotate(30deg);
//   transition: 0.5s;
// }

.alt {
  border: none;
  margin: 10px;
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #fff 90deg,
      #000 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
}
.radius {
  border-radius: 50%;
}

.popover-plus {
  background: transparent !important;
  border: none !important;
}

.popover-arrow {
  display: none !important;
}

.plus-container {
  width: 35px;
  height: 35px;
  // margin-right: 3px;
  padding-left: 7px;
  padding-top: 6px;
  padding-right: 5px !important;
  border: 1px solid black;
  border-radius: 50%;
  // animation: rotate-right 0.5s normal;
}

.plus-plus-container {
  border-right: 1px solid $color-gray-100;
  margin-right: 20px;
}

.plus-container.active {
  animation: rotate-right 0.2s linear;
  animation-fill-mode: forwards;
  // transform: rotate(45deg);
  // transition: 0.5s;
}

.plus-container.notactive {
  animation: rotate-left 0.05s linear;
  animation-fill-mode: forwards;
}
