.icon-user {
  background-image: url(../imgs/icons/user.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding-right: 40px;
}
.icon-email {
  background-image: url(../imgs/icons/email.svg);
  // background-color: black;
  background-repeat: no-repeat;
  // width: 300px;
  // height: 300px;
  // background-size: 100000% 100000%;
  background-position: right 15px center;
  padding-right: 40px;
  z-index: 100000000 !important;
}
.icon-phone {
  background-image: url(../imgs/icons/phone.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding-right: 40px;
}
.icon-company {
  background-image: url(../imgs/icons/company.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding-right: 40px;
}

.form-control {
  z-index: -100 !important;
}

.add-content-icon {
  //   padding: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-animation: fadein 0.3s ease-in;
  -moz-animation: fadein 0.3s ease-in;
  animation: fadein 0.3s ease-in;
}

.add-content-icon-code path {
  fill: green !important;
}

.format-text-icon {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-animation: fadein 0.3s ease-in;
  -moz-animation: fadein 0.3s ease-in;
  animation: fadein 0.3s ease-in;
}
.format-text-icon:hover {
  background-color: $color-gray-100;

  -webkit-animation: fadein 0.3s ease-in;
  -moz-animation: fadein 0.3s ease-in;
  animation: fadein 0.3s ease-in;
}

.border-right {
  border-right: 1px solid $color-gray-300;
}
