:root {
  --dark: #24292e;
  --bg: #fff;
  --light: #eeeeee;
  --red: #ff5851;
  --fontBody: IBM Plex Sans, sans-serif;
  --fontHeading: IBM Plex Sans, sans-serif;
}

.Navbar {
  position: fixed;
  top: 0 !important;
  @include theme() {
    background-color: theme-get("bg-color");
  }
  font-family: var(--fontHeading);
  // color: var(--light);
  min-height: 70px;
  height: 70px;
  // margin-bottom
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  z-index: 1000000000;
}

.menu-img-style {
  max-width: 100%;
  max-height: 100%;
  /* // marginRight: "-30px",
    // marginBottom: "-20px",
    // marginTop: "-25px",
    // marginLeft: "-15px", */
}

ul {
  text-decoration: none !important;
}

li {
  text-decoration: none !important;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 40%;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
}

// body {
//   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
//     no-repeat;
//   background-size: 10000% 10000%;
//   // height: 100vh !important;
//   animation: gradient 15s ease infinite;
//   height: 100vh;
// }

@keyframes gradientColor {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav-item {
  transition: 0.7s ease;
  &.nav-item {
    // color: white !important;

    font-size: 20px;
    text-align: center;
    // color: #fafafa !important;
    // background-image: linear-gradient(
    //   to left,
    //   #191335,
    //   #191335 33.33333%,
    //   #01a5f8 66.66666%,
    //   #01bfd8
    // );
    // background-image: linear-gradient(
    //   to left,
    //   #8b75ef,
    //   #604ac2 33.33333%,
    //   #01a5f8 66.66666%,
    //   #01bfd8
    // );
    background-image: linear-gradient(
      to left,
      #8b75ef,
      #604ac2 33.33333%,
      #00613a 66.66666%,
      #008a9c
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 100%;
    background-position: top left;
    transition: all 1s ease-in-out;
    &:hover {
      background-position: top left 100%;
      // background: -webkit-linear-gradient(
      //   -45deg,
      //   #ee7752,
      //   #e73c7e,
      //   #23a6d5,
      //   #23d5ab
      // ) !important;
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // animation: gradientColor 1s ease infinite;
    }
    &:hover * {
      background-position: top left 100%;
      // background: -webkit-linear-gradient(
      //   -45deg,
      //   #ee7752,
      //   #e73c7e,
      //   #23a6d5,
      //   #23d5ab
      // ) !important;
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // // animation: gradientColor 1s ease infinite;
    }
  }
}

.Login {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  color: white !important;
  cursor: pointer;
}

.Username {
  /* display: flex; */
  margin-left: auto;
  margin-right: 1%;
}

.Logout {
  margin-right: 3%;
  cursor: pointer;
}

.Brand {
  font-weight: bold;
  font-style: italic;
  margin-left: 1rem;
  padding-right: 1rem;
  width: 140px;
  height: 50px;
}

/* ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  } */
/* 
  li {
    flex: 0 0 auto;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    color: #999;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    color: #999;
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    line-height: 16px;
    margin: 0 5px;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 5%;
  } */

.hamburger {
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1150px) {
}

@media only screen and (max-width: 850px) {
  .nav-menu {
    background-color: var(--dark);
    font-family: var(--fontHeading);
    // color: var(--light);
    position: fixed;
    left: -100%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    /* margin-top: 16px; */
    transition: 0.3s;
  }
  /* .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      width: 40%;
      list-style-type: none;
      margin-top: auto;
      margin-bottom: auto;
    } */

  .nav-menu.active {
    margin-top: 350px;
    left: 0;
    z-index: 1 !important;
  }
  .nav-item {
    margin: 16px 0px;
  }

  .hamburger {
    display: block;
    visibility: visible;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
