:root {
  --dark: #24292e;
  --bg: #fff;
  --light: #eeeeee;
  --red: #ff5851;
  --fontBody: IBM Plex Sans, sans-serif;
  --fontHeading: IBM Plex Sans, sans-serif;
}

.blogContainer {
  width: 100%;
  /* margin-bottom: 50%; */
  /* height: 50rem; */
  /* margin-left: auto; */
  /* background-color: var(--dark); */
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */

  color: white;
  bottom: 0;
  min-height: 100vh;
}

.blog-row-style {
  margin: 3% 3%;
}

.blog-rightside-col {
  /* width: 5% !important; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-leftside-col {
  /* width: 5% !important; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-middle-col {
  width: 80% !important;
  height: 50%;
}
