:root {
  --dark: #24292e;
  --bg: #fff;
  --light: #eeeeee;
  --red: #ff5851;
  --fontBody: IBM Plex Sans, sans-serif;
  --fontHeading: IBM Plex Sans, sans-serif;
}

.Home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: var(--fontHeading);
  font-weight: 500;
}

.Item {
  margin-right: 3%;
}
