:root {
  --dark: #24292e;
  --bg: #fff;
  --light: #eeeeee;
  --red: #ff5851;
  --fontBody: IBM Plex Sans, sans-serif;
  --fontHeading: IBM Plex Sans, sans-serif;
}

.Home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* color: white; */
  /* font-family: var(--fontHeading); */
  /* font-weight: 500; */
}

/* .Home Products {

} */

.Products {
  /* display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  height: 100px;
  color: white;
  flex-flow: row wrap; */
}

.Item {
  /* display: flex; 
  flex-direction: row; */
  /* width: 50px !important; */
  margin-right: 3%;
  /* start: added by editor for visualization purpose */
  /* min-height: 75px;
  border: 2px dashed red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray; */
}

.line-break {
  width: 100%;
  visibility: hidden;
}
