.text-light-some {
  @include theme() {
    color: theme-get("text-color") !important;
  }

  &p {
    @include theme() {
      color: theme-get("text-color");
    }
  }
}

.blog-input {
  display: none;
}

.blog-item-p {
  min-height: 50px;
  min-width: 500px;
  // border: 1px solid black;
}
