:root {
  --veryLightGreen: #d9ed92;
  --lessLightGreen: #b5e48c;
  --green: #99d98c;
  --teal: #76c893;
  --darkTeal: #52b69a;
  --lightestBlue: #34a0a4;
  --blue: #168aad;
  --middleBlue: #1a759f;
  --lessDarkBlue: #1e6091;
  --darkBlue: #184e77;
  /* background-color: black; */
}

.App {
  /* text-align: center; */
  min-height: 100vh;
  /* height: 100vh; */

  /* background-color: var(--darkBlue); */
  background: repeating-linear-gradient(
    -20deg,
    rgba(100, 203, 255, 0.5),
    black
  );
  background-color: black;
  /* display: flex; */
}

a {
  /* color: white !important; */
  text-decoration: none !important;
  color: white !important;
  /* transition: 0s color; */
  /* /* transition: all 0.5s ease-in-out; */
}

.gradient-text {
  font-family: "Abril Fatface", sans-serif !important;
  background: linear-gradient(
    to right,
    rgb(85, 56, 216),
    rgb(73, 79, 117),
    springgreen
  );
  /* background-size: 200% 200% !important; */
  animation: rainbow 2s ease-in-out infinite !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  /* color: rgba(0, 0, 0, 1) !important; */
  /* font-size: 10rem; */
  /* width: 80vw; */
  /* margin: 30vh auto; */
  /* display: block; */
  /* text-align: center; */
  text-decoration: none;
  transition: color 0.2s ease-in-out !important;
  text-transform: uppercase !important;
  font-weight: 900 !important;
}
.gradient-text:hover,
.gradient-text:focus {
  color: rgba(0, 0, 0, 0) !important;
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* a:hover,
a:focus,
a:active,
a.active {
  background-color: linear-gradient(
    rgb(25, 25, 202),
    rgb(181, 42, 42)
  ) !important;
  color: linear-gradient(rgb(25, 25, 202), rgb(181, 42, 42)) !important;
  transition-delay: 100ms;
  background-position: 0;
} */
