:root {
  --veryLightGreen: #d9ed92;
  --lessLightGreen: #b5e48c;
  --green: #99d98c;
  --teal: #76c893;
  --darkTeal: #52b69a;
  --lightestBlue: #34a0a4;
  --blue: #168aad;
  --middleBlue: #1a759f;
  --lessDarkBlue: #1e6091;
  --darkBlue: #184e77;
  /* background-color: black; */
}

.App {
  /* text-align: center; */
  min-height: 100vh;

  /* background-color: var(--darkBlue); */
  background-color: black;
  /* display: flex; */
}
