:root {
  --veryLightGreen: #d9ed92;
  --lessLightGreen: #b5e48c;
  --green: #99d98c;
  --teal: #76c893;
  --darkTeal: #52b69a;
  --lightestBlue: #34a0a4;
  --blue: #168aad;
  --middleBlue: #1a759f;
  --lessDarkBlue: #1e6091;
  --darkBlue: #184e77;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
